*{
 margin: 0;
}

.navbar{
  padding: 20px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  text-align: center;
}

.title{
  color: whitesmoke;
}

.button{
  color: whitesmoke;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
}

.formtext{
  
  border: black 1px solid;
  border-radius: 20px;
  width: 40%;
  margin-left: 40px;
  margin-right: 40px;
  padding: 20px;
}

.form{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button{
  border: black 1px solid;
  border-radius: 20px;
  font-size: large;
  padding: 20px;
  align-items: center;
  display: block;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}