*{
 margin: 0;
}

.navbar{
  padding: 20px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  text-align: center;
}

.title{
  color: whitesmoke;
}

.button{
  color: whitesmoke;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
}

.formtext{
  font-size: 25px;
  border: black 1px solid;
  border-radius: 20px;
  width: 40%;
  margin-left: 40px;
  margin-right: 40px;
  padding: 20px;
}

.form{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button{
  border: black 1px solid;
  border-radius: 20px;
  font-size: large;
  padding: 20px;
  align-items: center;
  display: block;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 200px;
  border: 1px solid lightgray;
  border-radius: 10px;
  height: 350px;
  box-shadow: 5px 5px 5px 1px rgba(120,120,120,0.44);
  -webkit-box-shadow: 5px 5px 5px 1px rgba(120,120,120,0.44);
  -moz-box-shadow: 5px 5px 5px 1px rgba(120,120,120,0.44);
}

.hero{
  background: #FFF;
  color: red;
}


.relative{
  position: relative;
}
.main{
  display: flex;
  flex-direction: column;
}

.margin{
  margin-top: 50px;
}

.top{
  font-size: 35px;
  color: #fff;
  text-decoration: dotted;
  position: absolute;
  margin-top: -250px;
  margin-left: 0;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
}

.bot{
  font-size: 35px;
  color: #fff;
  text-decoration: dotted;
  position: absolute;
  margin-top: 250px;
  margin-left: 0;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
}